<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
    <title>Журнал учёта телефонограмм</title>
</head>
<body>
<!-- Шапка -->
<div class="b-example-divider"></div>
<header class="py-3 border-bottom bg-light">
    <div class="container d-flex flex-wrap justify-content-center">
        <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
            <span class="fs-4">Журнал учёта телефонограмм</span>
        </a>

        <input type="radio" class="btn-check me-2" name="options-outlined" id="success-outlined" autocomplete="off" checked>
        <label class="btn btn-outline-default me-2" for="success-outlined">Входящие</label>

        <input type="radio" class="btn-check me-2" name="options-outlined" id="danger-outlined" autocomplete="off">
        <label class="btn btn-outline-default me-2" for="danger-outlined">Исходящие</label>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0" role="search">
            <input type="search" class="form-control" placeholder="Поиск" aria-label="Search">
        </form>
    </div>
</header>
<nav class="py-2 bg-light border-bottom">
    <div class="container">
        <button type="button" class="btn btn-success me-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Добавить</button>
        <button type="button" class="btn btn-warning me-2">Изменить</button>
        <button type="button" class="btn btn-danger me-2">Удалить</button>
    </div>
</nav>
<!-- Главная таблица -->
<div class="container mt-4">
    <table class="table table-hover table-bordered">
        <tr class="table-primary">
            <th>Номер
            <th>Дата
            <th>Сообщение
            <th>Создатель
            <th>Отправитель
            <th>Получатель
        <tr th:each="phonogram : ${phonograms}">
            <td th:text="${phonogram.item}">
            <td th:text="${phonogram.registrationDate}">
            <td th:text="${phonogram.message}">
            <td th:text="|${phonogram.writer.department.title}, ${phonogram.writer.fio}|">
            <td th:text="|${phonogram.sender.department.title}, ${phonogram.sender.fio}|">
            <td th:text="|${phonogram.receiver.department.title}, ${phonogram.receiver.fio}|">
    </table>
</div>

<!-- Модальное окно -->
<div class="modal fade" id="exampleModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <form action="/" method="post">
                <div class="modal-header">
                    <h5 class="modal-title">Добавить телефонограмму</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <input name="item" class="form-control form-control-sm mb-2" type="text" placeholder="Номер">
                    <input name="registrationDate" type="date" class="form-control mb-2">
                    <textarea name="message" class="form-control mb-2" rows="3" placeholder="Сообщение"></textarea>
                    <!-- Создатель -->
                    <small class="text-muted">Создатель</small>
                    <select class="form-select mb-2" v-model="writerSelectedDepartment" @change="changeWriterSelectedDepartment()">
                        <option selected disabled value="-1">Организация</option>
                        <option th:each="department : ${departments}" th:value="${department.id}" th:text="${department.title}"/>
                    </select>
                    <select name="writer" class="form-select mb-2" id="writer_id" ref="writer_id">
                        <option selected disabled value="-1">Создатель</option>
                        <option th:each="person : ${persons}" th:value="${person.id}" th:text="${person.fio}" th:department="${person.department.id}"/>
                    </select>
                    <!-- Отправитель -->
                    <small class="text-muted">Отправитель</small>
                    <select class="form-select mb-2" v-model="senderSelectedDepartment" @change="changeSenderSelectedDepartment()">
                        <option selected disabled value="-1">Организация</option>
                        <option th:each="department : ${departments}" th:value="${department.id}" th:text="${department.title}"/>
                    </select>
                    <select name="sender" class="form-select mb-2" id="sender_id" ref="sender_id">
                        <option selected disabled value="-1">Отправитель</option>
                        <option th:each="person : ${persons}" th:value="${person.id}" th:text="${person.fio}" th:department="${person.department.id}"/>
                    </select>
                    <!-- Получатель -->
                    <small class="text-muted">Получатель</small>
                    <select class="form-select mb-2" v-model="receiverSelectedDepartment" @change="changeReceiverSelectedDepartment()">
                        <option selected disabled value="-1">Организация</option>
                        <option th:each="department : ${departments}" th:value="${department.id}" th:text="${department.title}"/>
                    </select>
                    <select name="receiver" class="form-select mb-2" id="receiver_id" ref="receiver_id">
                        <option selected disabled value="-1">Получатель</option>
                        <option th:each="person : ${persons}" th:value="${person.id}" th:text="${person.fio}" th:department="${person.department.id}"/>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-success">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
<script>

const App = {
    data() {
        return {
            writerSelectedDepartment: -1,
            senderSelectedDepartment: -1,
            receiverSelectedDepartment: -1
        }
    },
    methods: {
        changeWriterSelectedDepartment() {
            for(var i=1;i<this.$refs.writer_id.length;i++) {
                this.$refs.writer_id[i].style.display = "block";
            }
            for(var i=1;i<this.$refs.writer_id.length;i++) {
                if(this.$refs.writer_id[i].getAttribute("department") != this.writerSelectedDepartment) {
                    this.$refs.writer_id.options[i].style.display = "none";
                }
            }
        },
        changeSenderSelectedDepartment() {
            for(var i=1;i<this.$refs.sender_id.length;i++) {
                this.$refs.sender_id[i].style.display = "block";
            }
            for(var i=1;i<this.$refs.sender_id.length;i++) {
                if(this.$refs.sender_id[i].getAttribute("department") != this.senderSelectedDepartment) {
                    this.$refs.sender_id.options[i].style.display = "none";
                }
            }
        },
        changeReceiverSelectedDepartment() {
            for(var i=1;i<this.$refs.receiver_id.length;i++) {
                this.$refs.receiver_id[i].style.display = "block";
            }
            for(var i=1;i<this.$refs.receiver_id.length;i++) {
                if(this.$refs.receiver_id[i].getAttribute("department") != this.receiverSelectedDepartment) {
                    this.$refs.receiver_id.options[i].style.display = "none";
                }
            }
        }
    }
}

Vue.createApp(App).mount('#exampleModal');

</script>

</html>
